<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin PUBLIC "-//JALIOS//DTD JCMS-PLUGIN 1.6//EN" "http://support.jalios.com/dtd/jcms-plugin-1.6.dtd">
<plugin name="DemoWysiwygPlugin" author="Jalios SA" license="MIT" version="1.0-dev">

  <label xml:lang="en">Wysiwyg demonstration Plugin</label>
  <label xml:lang="fr">Module de démonstration wysiwyg</label>
  
  <description xml:lang="en">This plugin provides demonstration of wysiwyg developements for Jalios JPlatform 10.</description>
  <description xml:lang="fr">Ce module fournit une démonstration des développements wysiwyg pour Jalios JPlatform 10.</description>
  
  <private-files>
    <directory path="properties" />
  </private-files>
  <public-files>
    <directory path="images" />
    <directory path="docs" />
    <directory path="css" />
    <directory path="js" />
    <directory path="jsp" />
  </public-files>
  
</plugin>

